{% load format_stream %}
[本邮件由系统自动发送]
<br />
{{ ssobj.user_name }}, 你好!
<br />
这是我搭建的shadowsocks服务器,可以翻墙,可以将ipv4流量转化为ipv6流量;
<br />
你的个人信息如下:
<ul>
    <li>联系方式: {{ ssobj.contact_info }}</li>
    <li>端口号: {{ ssobj.port }}</li>
    <li>密码: {{ ssobj.passwd }}</li>
    <li>账号总流量: {{ ssobj.transfer_enable|streamformat }}</li>
    <li>已使用流量: {{ ssobj.u|add:ssobj.d|streamformat }}</li>
</ul>

服务器ip地址:
<ul>
    <li>ipv4: {{ ipv4 }}</li>
    <li>ipv6: {{ ipv6 }}</li>
</ul>

使用方法:<a href="https://cokebar.info/archives/368" target="_blank">点击</a>
